.App {
  text-align: center;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.app-background {
  background-color: black;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.intro-header {
  align-items: center;
  justify-content: center;
  font-size: calc(100px + 2vmin);
}

.intro-sentence {
  align-items: center;
  justify-content: center;
  font-size: calc(50px + 2vmin);
}

.gradient-text {
  background: linear-gradient(to right, #ac0000 0%, #1b0192 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
