.App {
  text-align: center;
}

.primary-background {
  background-color :#092340;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: calc(100vh + 30px);
}

.intro-container {
  min-height: 110vh;
  position: relative;
}

.intro-header {
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 7vmin);
  position: relative;
}

.intro-sentence {
  position: relative;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 4vmin);
}

.quick-info {
  position: relative;
  font-size: calc(10px + 4vmin);
}

.small-bottom {
  margin-bottom: -2%;
}

.learn-more-button {
  font-size: calc(20px + 2vmin);
  color: white;
  border-radius: 12px;
  border: none;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
  animation: 1s infinite alternate ease-out breathing-color--dark;
}

@keyframes breathing-color--dark {
  from
  {
      background-color: #007db7;
  }
  to
  {
      background-color:#007db78e;
  }
} 


.second-background {
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vmax;
}