.link-image {
    width: 8vmin;
    height: 8vmin;
    padding: 8px;
}

.profile-links {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.img-spacing {
    margin-right: 5vmin;
    margin-top: 5vmin;
}